*.pyc
__pycache__/
instance/
.webassets-cache
.env
.venv/
venv/
ENV/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.sqlite
/static/
/uploads/
.DS_Store
